.container {
    position: absolute;
    top: 1px;
}

.button {
    position: absolute;
    border-style: none;
    background-color: transparent;

}

.image {
    height: 1000px;
    width: 1900px;

}