.button {
    position: absolute;
    margin-top: 200px;
    margin-left: 900px;
    color: darkgray;
    font-size: 20px;
    font-family: Sabon;
    background-color: transparent;
    border-style: none;
}


.button:hover {
    transition: 1s;
    color: blue;
    font-size: 24px;
}