.container {
    position: absolute;
    /*background-image: url("https://cdn.wallpapersafari.com/83/54/b9KGv4.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}



.line {
    color: darkblue;
    margin-top: 350px
}



