.container {
    position: absolute;
    background-image: url("https://cdn.wallpapersafari.com/83/54/b9KGv4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.button {
    margin-top: 400px;
    margin-left: 900px;
    color: darkgray;
    font-size: 20px;
    font-family: Sabon;
    background-color: transparent;
    border-style: none;
}

.line {
    color: darkblue;
    margin-top: 75px;
}

.button:hover {
    transition: 1s;
    color: blue;
    font-size: 24px;
}

