.container {
    position: relative;
    color: red;
    left: 890px;
    top: 30px;
}

.prevButton {
    right:  880px;
}

.nextButton {
    left: 940px;
}


.prevButton, .nextButton {
    position: relative;
    color: cyan;
    bottom: 300px;
    background-color: transparent;
    border-style: none;
    font-size: 30px;
}

.prevButton:hover, .nextButton:hover {
    transition: 0.5s;
    color: blue;
}

.number:hover {
    cursor: pointer;
}

.selectedNumber {
    color: green;
}
